
.FadeInNotInfinite {
    animation: FadeInNotInfinite 2.4s ease-out;
}

@keyframes FadeInNotInfinite {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
   } 

.movedown {
    animation: MoveDown 1.6s ease-out;
}


@keyframes MoveDown {
    0%   {transform: translate(0px, -5vh)}
    100% {transform: translate(0px, 0px);}
   } 
