$mountain-blue: #23594F;
$mountain-blue-90: #23594FE6;
$mountain-blue-75: #23594FBF;
$mountain-blue-50: #23594F80;
$mountain-shade: #205047;
$mountain-shade-50: #20504780;
$sunrise-yellow: #F5BA32;
$sunrise-yellow-75: #F5BA32BF;
$misty-white: #F6F6F6;
$off-black: #010606;

$page-padding: 16px;
$scale-property: 3vw;
$max-inner-width: 1200px;