@import 'styles/partials/variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    height: 100dvh;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-flow: column wrap;
}

h1, h2, h3 , h4, h5, h6, p, a, li {
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    line-height: 1.2em;
    svg {
        font-size: 1.3em;
    }
}

*.mountain-blue {
    background-color: $mountain-blue-75;

    h1, h2 {
        color: $sunrise-yellow;
        svg {
            fill: $sunrise-yellow;
        }
    }
    h3, h4, h5, h6 {
        color: $misty-white;
        svg {
            fill: $misty-white;
        }
    }
    p, a, li {
        color: $misty-white;
    }
}

h1 {
    color: $mountain-blue;
    font-size: clamp(48px, $scale-property, 64px);
    font-weight: 700;
    svg {
        fill: $mountain-blue;
    }
}
h2 {
    color: $mountain-blue;
    font-size: clamp(32px, $scale-property, 48px);
    font-weight: 600;
    svg {
        fill: $mountain-blue;
    }
}
h3 {
    color: $off-black;
    font-size: clamp(24px, $scale-property, 32px);
    font-weight: 500;
    svg {
        fill: $off-black;
    }
}
h4 {
    color: $off-black;
    font-size: clamp(24px, $scale-property, 32px);
    font-weight: 400;
    svg {
        fill: $off-black;
    }
}
h5 {
    color: $off-black;
    font-size: clamp(16px, $scale-property, 24px);
    font-weight: 500;
    svg {
        fill: $off-black;
    }
}
h6 {
    color: $off-black;
    font-size: clamp(16px, $scale-property, 24px);
    font-weight: 400;
    svg {
        fill: $off-black;
    }
}

p, a, li {
    color: $off-black;
    font-size: clamp(20px, $scale-property, 28px);
    font-weight: 300;

}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

section::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("/assets/images/parchment-horizontal.JPG");
    background-size: cover;
    z-index: -1;
}

.popout {
    transition: scale 0.3s ease-out;
    &:hover, &:active{
        transition: scale 0.1s ease-out;
        scale: 1.02;
    }
}

