@import 'styles/partials/variables';



.phone a {
    address:before{
        content: "+32" + "\a0" + "75" + "\a0";
        margin-left: auto;
    }
    address:after{
        content: "34" + "\a0" +"64" + "\a0" +"48";
        margin-right: auto;
    }
}
.mail a {
    
    address:before{
        content: "Tim.";
        margin-left: auto;
    }
    address:after{
        content: "hotmail.com";
        margin-right: auto;
    }
}

.hero {
    min-height: 80vh;
    &::before {
        content: "";
        background-image: url("../../assets/images/mediacafe-me 1.png");
        background-size: fit;
        background-position: center;
        opacity: 1;
        box-shadow: inset 0 0 0 500px #00000080;
        transition: background-position 0.5s ease-in-out;
        z-index: -1;
        @media  (min-width: 600px) {
            background-position: right;
        }
    }
    
    div {
        &:first-child {
            height: 90%;
            flex-flow: column wrap;
        }
        &:last-child {
            height: 10%;
            flex-flow: row wrap;
        }
        display: flex; 
        justify-content: center;
        align-items: center;
        gap: 1rem;
        h1 {
            justify-content: center;
            align-items: center;
            color: $misty-white;
        }
        ul {
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            justify-content: space-around;
    
            li {
                display: flex;
                flex-basis: 80px;
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                flex-grow: 1;
                justify-content: center;
            }
        }
    }
}

.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
    a {
        display: flex;
        margin-right: 1em;
        align-self: end;   
    }

}

.works {
    background-color: $mountain-blue-50;
    height: max-content;
    width: 100%;
    &::before {
        content: "";
        background-image: url("../../assets/images/background-mountains2.png");
        background-size: cover;
        background-position: left;
        opacity: 0.5;
        box-shadow: inset 0 0 0 500px #00000080;
        transition: background-position 0.5s ease-in-out;
        z-index: -1;
    }

}


.about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;   
    
    > * {
        max-width: 1200px;
        padding-bottom: 32px;
    }

    
    article {
        margin: auto $page-padding auto $page-padding;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between; 
        width: 100%;
        max-width: 1280px;
        padding-left: $page-padding;
        padding-right: $page-padding;
        gap: 0.5em;

        > div:first-child {
            width: 45%;
            p {
                padding-bottom: 1rem;
            }
        }
        > div:last-child {
            width: 45%;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: right;
        }

        @media  (max-width: 600px) {
            flex-flow: column nowrap;

            > div:first-child {
                width: 100%;
            }
            > div:last-child {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
            }
        }
    }
}

.skills {
    background-color: $mountain-blue-50;
    padding-bottom: 32px;
    &::before {
        content: "";
        background-image: url("../../assets/images/background-mountains2.png");
        background-size: cover;
        background-position: right;
        opacity: 0.5;
        box-shadow: inset 0 0 0 500px #00000080;
        transition: background-position 0.5s ease-in-out;
        z-index: -1;
    }
}

.skillContent {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    
}

.skillCard {
    width: 360px;
    display: flex;
    flex-flow: column wrap;
    background-color: $mountain-blue-50;

    h3 {
        padding: 0.5rem  0.5rem 1rem 0.5rem;
        border-bottom: 1px solid $misty-white;
    }

    > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0 1rem 0;
    }
    @media  (max-width: 600px) {
        width: 100%;

        > div {
            gap: 0.5rem;
            padding: 0.5rem 0 0.5rem 0;
        }
    }
}

.journeys {
    
}

.journeyContent {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 1rem;
    padding-bottom: 32px;

    a {
        color: $off-black;
        background-color: $mountain-blue-75;
    }
}