@import 'styles/partials/variables';

.footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: $mountain-blue-90;
    color: $misty-white;
    padding: 1rem;
    padding-bottom: 64px;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: space-around;
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // Define a background image with a inset as overlay shadow.
        background: url("../../assets/images/background-mountains1.png");
        background-size: cover;
        background-position: top;
        z-index: -1;
    }

    > div {
        display: grid;
        grid-template-columns: 1fr;

        h3 {
            padding-bottom: 0.5em;
        }
        ul {
            border-left: 2px solid $misty-white;
        }
        a {
            svg {
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
            &:hover {
                color: $sunrise-yellow;
            
            }
        }
    }

    // Set the ul on a column on small screens.
    @media  (max-width: 600px) {
        display: grid;
    }
}