@import 'styles/partials/variables';

.carousel {
    display: flex;
    width: 100%; 
    overflow-x: auto;
    padding-bottom: 3rem;
    scroll-snap-type: x mandatory;
    align-items: center;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        background-color: $mountain-blue-75;
        &:hover {
            cursor: pointer;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $sunrise-yellow;
        &:hover {
            cursor: pointer;
        }
    }

}

.carouselItem {
    cursor: w-resize;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &:nth-child(odd) {
        .headers:first-child {
            visibility: hidden;
        }
    }
    &:nth-child(even) {
        .headers:last-child {
            visibility: hidden;
        }
    }
    scroll-snap-align: center;
    .headers{
        display: flex;
        flex-flow: column wrap;
        padding: 4px $page-padding 4px $page-padding;
        background-color: $mountain-blue-50;
        gap: 0.5em;
        &:hover {
            text-decoration: none;
            p, h2, h3, h4 {
                color: $sunrise-yellow;
            }
        }
    }
    figure {
        img {
            aspect-ratio: 4/3;
            width: 540px;
            transition: width 0.5s ease-in-out;
            @media (max-width: 600px){
                width: 280px;
            }
            object-fit: cover;
        }
    }
}

@keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }